/* @import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap"); */

:root {
  /* Мне удобнее иметь весь список цветов чтобы при необходимости менять конкретный цвет в конкретном месте */
  --h1-color: #ffffff;
  --h2-color: #2e2f42;
  --h3-color: #2e2f42;
  --header-font: #2e2f42;
  --page-background: #fff;
  --logo-color-one: #4d5ae5;
  --logo-color-two: #2e2f42;
  --logo-color-free: #f4f4fd;
  --article-text: #434455;
  --accent-font-one: #434455;
  --accent-font-two: #4d5ae5;
  --btn-studio-background: #4d5ae5;
  --btn-studio-text: #ffffff;
  --btn-studio-active-bkgrnd: #404bbf;
  --footer-text: #e7e9fc;
  --header-background: #ffffff;
  --section-background: #ffffff;
  --hero-background: #2e2f42;
  --headings-background: #e5e5e5;
  --our-team-background: #f4f4fd;
  --result-background: #f4f4fd;
  --footer-background: #2e2f42;
  --btn-portfol-background: #f4f4fd;
  --btn-portfol-background-focus: #e7e9fc;
  --btn-portfol-text: #4d5ae5;
  --btn-portfol-active: #4d5ae5;
  --btn-portfol-active-text: #ffffff;
}

.list {
  display: flex;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

body {
  color: var(--article-text);
  background-color: var(--page-background);
  font-family: "Roboto", "Raleway", serif;
}

h1,
h2,
h3,
p,
img- {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1158px;
}

.page-header {
  vertical-align: middle;
  color: var(--page-header-font);
  height: 72px;
  font-size: 16px;
  line-height: 2.2em;
  background-color: var(--header-background);
}

.header {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
}

.logo {
  color: var(--logo-color-one);
  font-family: "Raleway";
  font-weight: 900;
  font-size: 18px;
  line-height: 1.14;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.studio {
  color: var(--logo-color-two);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.site-nav {
  margin-left: 77px;
  font-weight: 400;
  display: flex;
  letter-spacing: 0.2em;
}

.site-nav .item + .item {
  margin-left: 40px;
}

.site-nav .link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  color: var(--header-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-font-one);
}

.site-nav .link:active {
  color: var(--accent-font-two);
}

.auth-nav {
  margin-left: auto;
  letter-spacing: 0.2em;
  text-align: left;
}

.auth-nav .link {
  display: block;

  padding-top: 24px;
  padding-bottom: 24px;
  color: var(--accent-font-one);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
  letter-spacing: 0.02em;
}

.auth-nav .link: :first-child {
  margin-left: 0px;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-font-two);
}

.myitem {
  margin-left: 40px;
}

/* Hero */
.hero {
  padding: 192px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--hero-background);
  text-align: center;
  margin: auto;
}

.hero h1 {
  margin-bottom: 48px;
  width: 497px;
  background-color: var(--hero-background);
  color: var(--h1-color);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

/* Кнопка на Studio */

.btn-studio {
  width: 170px;
  height: 51px;
  border-radius: 4px;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.1875;
  color: var(--btn-studio-text);
  background-color: var(--btn-studio-background);
  border: none;
  font-weight: 700;
  cursor: pointer;
  letter-spacing: 0.04em;
}

.btn-studio:active {
  background-color: var(--btn-studio-active-bkgrnd);
}

/* Кнопки на Portfolio */

/* Features + Works + Examples*/
.section {
  background-color: var(--section-background);
  padding-bottom: 120px;
  padding-top: 120px;
}

.section.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.section.portfolio h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.section.portfolio p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.section-title {
  margin-top: 0px;
  margin-bottom: 72px;
  padding-top: 0px;
  /* width: 322px;
  height: 40px; */
  color: var(--h2-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}

.section h2 {
  margin-top: 0px;
  font-size: 36px;
  line-height: 1.11;
  font-weight: 700;
  letter-spacing: 0.02em;
}

.section h3 {
  margin-top: 0px;
  margin-bottom: 8px;
  color: var(--h3-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.section p {
  margin-top: 0px;
  margin-botom: 0px;
  color: var(--article-text);
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.section-two {
  padding-bottom: 120px;
}

.results {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
}

.result:nth-child(3n) {
  margin-right: 0px;
}

.result:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.result {
  width: 359px;
  margin-right: 24px;
  margin-bottom: 48px;
}

.border {
  border-left: 1px solid rgba(46, 47, 66, 0.08);
  border-right: 1px solid rgba(46, 47, 66, 0.08);
  border-bottom: 1px solid rgba(46, 47, 66, 0.08);
  padding: 32px 16px;
}

.filter-btn {
  justify-content: center;
  padding-top: 0px;
  margin-bottom: 72px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.btn-portfolio {
  font-family: inherit;
  background-color: var(--btn-portfol-background);
  color: var(--btn-portfol-text);
  border: none;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
  cursor: pointer;
  letter-spacing: 0.04em;
  padding: 12px 24px;
  border-radius: 4px;
}

.btn-filter + .btn-filter {
  margin-left: 20px;
}

.btn-portfolio:hover,
.btn-portfolio:focus,
.btn-portfolio:active {
  background-color: var(--btn-portfol-active);
  color: var(--btn-portfol-active-text);
}

.example {
  width: 360px;
}

.example + .example {
  margin-left: 24px;
}

.centered {
  text-align: center;
}

.features {
  display: flex;
}
.feature {
  width: 264px;
}

.feature + .feature {
  margin-left: 24px;
}

.our-team li {
  background-color: var(--page-background);
}

.employees {
  display: flex;
}

.employee {
  width: 264px;
  padding-bottom: 32px;
  display: inline-block;
  background: #ffffff;
  text-align: center;
}

.employee + .employee {
  margin-left: 24px;
}

.emp-photo {
  margin-bottom: 32px;
}

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title-hidden {
  visibility: hidden;
}

.our-team {
  background: var(--our-team-background);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

/* Футер */

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background: var(--footer-background);
  color: var(--footer-text);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer p {
  margin-top: 16px;
  width: 264px;
}

.studio-footer {
  color: var(--logo-color-free);
}

.shadow {
  filter: drop-shadow(0px 2px 1px rgba(46, 47, 66, 0.08));
}
